.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.pub/
.pub-cache/
.venv/
__pycache__/
*.iml
*.log
*.pyc
*.sqlite3
*.swp
build/
dist/
coverage/
node_modules/
.DS_Store

